
*{
	box-sizing:border-box;
}
body
{
	margin:0;
	display:flex;
	flex-direction:column;
}

.form-control input
	{
		display:block;
		//border:2px solid;
		width:60%;
		font-size:12px;
		padding-bottom:10px;
	}